.payment-screen  .screen-content {
    max-width: 1200px !important;
}

.quickpay {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: auto;
    left: 80%;
}

.quickpay div {
	margin: 10px !important;
    max-width: 110px !important;
    margin-bottom: -4px !important;
    font-weight: bold !important;
    min-height: 64px !important;
    min-width: 258px !important;
    color: #000000 !important;
    font-size: 24px !important;
}

.payment-buttons {
    display: none !important;
}

.left-content .pc40 {
    right: 78% !important;
}
.screen .right-content.pc60 {
    left: 21% !important;
}


